#blue {
  background: blue;
}

#red {
  background: red;
}

#green {
  background: green;
}

#orange{
 background: orange; 
}

.intro-section {
  display: inline;
  font-size: 24px;
  font-family: fantasy;
}

#color-display {
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 2px 2px #3a3a3a;
}