#blue {
  background: blue;
}

#red {
  background: red;
}

#green {
  background: green;
}

#orange{
 background: orange; 
}

.intro-section {
  display: inline;
}

#color-display {
  margin-top: 20px; 
}